.alignRegister{
    padding-top: 120px;
    padding-bottom: 190px;
    display: flex;
    height: auto;
    gap: 2rem;
}

.alignRegister h1{
    color: #53A2DB;
    font-weight: 700;
}

.pRegister{
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: 600;
}

.btnComecar{
    font-size: 18px;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    font-weight: 500;
    background-color: #53A2DB;
}

.btnComecar:hover{
    background-color: #4087bb;
}

.bgImage{
   background-color: #f1f1f1;
}